app.context=ioc
charity.currency=USD
charity.country.code=us
charity.name=
charity.phone=
charity.email=
mail.smtp.username=
mail.smtp.password=
mail.smtp.host=smtp.ioc.xyz
mail.smtp.supportEmail=
mail.smtp.port=587
mail.smtp.auth=true
mail.smtp.starttls.enabled=true
mail.smtp.adminEmail=
google.analytics=
stripe.development.apiKey=sk_test_yYnWB6ckE2wWtXQ4pqgrtdZn
stripe.development.publishableKey=
stripe.production.apiKey=
stripe.production.publishableKey=